{% load static %}

<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Dashboard
  </title>
  <script src="https://cdn.tailwindcss.com">
  </script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
 </head>
 <body class="bg-gray-900 text-white">
  <body class="flex">
   <!-- Sidebar -->


   <!-- Main Content -->
   <div class="w-3/4 p-6 bg-white text-black">
    <h1 class="text-3xl font-bold mb-6">
     Downloads
    </h1>
    <div class="mb-6">
     <input class="p-2 rounded-md text-black" placeholder="Search" type="text"/>
     <i class="fas fa-calendar-alt text-2xl ml-2">
     </i>
    </div>
   </div>
      </body>

