{% extends "partials/base.html" %}

{% block title %}Predict Patients Risk/Survival Analysis | ICAPT{% endblock %}

{% block content %}
<div class="flex-1 p-8">
    <h1 class="text-3xl text-green-700 mb-4 font-['Poppins']">
        Predict Patients Risk/Survival Analysis
    </h1>
    <div class="border border-green-700 p-4 rounded-md max-w-3xl mx-auto">
        <p class="text-center mb-4 text-lg">
            To help health professionals to know patient at high risk/ medium risk/ low risk to help with resource allocation.
        </p>
        <div class="flex justify-center">
            <button class="bg-green-700 hover:bg-green-800 text-white py-2 px-4 rounded transition-colors">
                Predictive Analytics
            </button>
        </div>
    </div>
</div>
{% endblock %}