{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submitted Forms</title>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

    <h1>Submitted Forms</h1>
    <br>
    <div class="container">
        <div class="row">
            <ul class="form-list">
                {% for user_form in user_forms %}
                    <li class="form-item">
                        <p><strong><a href="{% url 'form_view' user_form.id %}" class="link-underline-light">{{ user_form.title }}</a></strong></p>

                        <!--<p><strong><a href="{% url 'submission_detail' form.id %}" class="link-underline-light">{{ user_form.title }}</a></strong></p>-->
                        {% empty %}
        <li>No forms available.</li>

                {% endfor %}
            </ul>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

        </div>
        </br>
    </div>
</body>

</html>